.img-gradient {
  position: absolute;
  top: 0;
  height: 700px;
  width: 425px;
  background-image: linear-gradient(
    to bottom,
    rgba(58, 141, 255, 0.85),
    rgba(134, 185, 255, 0.85)
  );
  color: white;
  text-align: center;
}
.bg-img {
  top: 0;
}
.text-style {
  color: gray;
  padding: 10px;
}
.margin-top {
  margin-top: 20px;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.img-txt {
  position: relative;
  top: 230px;
  padding: 70px;
}
.button-style {
  color: #3a8dff;
  padding: 0px;
  float: right;
}
.welcome-text {
  font-size: 30px;
}
@media screen and (max-width: 960px) {
  .disappear-small {
    display: none;
  }
}
